@import "compass";
@import "theme_variables";

body.index{
	background-color:#f3f3f3;
	background-image: url("../../../../img/bg-body.jpg");
	background-position: top right;
	background-repeat: no-repeat;
    background-attachment: fixed;
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	#header-main{
		.container{
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}
#topbar{
	background-color: $nocolor;
	border: none;
	.container{
	    border-bottom: 1px solid #eaeaea;
	}
}
.top_header{
	background-color: $nocolor;
	.container{
		background-color: $white;
	}
}
.block-icon {
	> .ApColumn{
	    padding-bottom: 15px;
	    padding-top: 50px;
		background-color: #e59572;
		&:nth-child(odd){	
			background-color: #f1aa8b;
		}
	}
	line-height: 1.6em;
	color: $white;
	i {
	    font-size: 30px;
	   	color: $white;
	}
	h2 {
	    font-size: 14px;
	    font-weight: 700;
	    color: $white;
	    margin-top: 20px;
	}
}
.manufacturers_block{
	img{
		@include opacity(1);
	}
}