@import "compass";
@import "theme_variables";
#footer{
	background-color: $nocolor;
	padding-top: 0px;
	.container {
	    background-color: $white;
	    padding-top: 50px;
	    overflow: hidden;
	    color: #666666;
	}
}

.footer_about{
	text-align: center;
}
#social_block{
	display: inline-block;
	ul{
		&:before,&:after{
			content: "";
			display: table;
			clear: both;
		}
		li a{
			width: 50px;
			color: $black;
		}
	}
}

.footer_bottom{
	margin-top: 10px;
	&:before{
		background-color: #eaeaea;
	}
}