
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#ffffff !default;
$topbar-bg: 						#ffffff !default;
$topbar-color: 						#666666 !default;
$topbar-hover-link-color:           $theme-color-default;     
$topbar-font-size: 					14px;
$topbar-height:                     51px !default;

// header main
$headermain-outside-bg :			#ffffff !default; 
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					#000000 !default;
$headermain-padding:                30px !default;

// Footer
$footer-outside-bg :				#272727 !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#aaaaaa !default;