/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
a {
  color: #666666;
}
a:hover, a:focus {
  color: #ca3031;
}

.btn {
  background-color: black;
}
.btn:hover {
  background-color: #ca3031;
}

@media (min-width: 991px) {
  .ApColumn .block.btn_search a:hover {
    color: #ca3031;
  }
}
.block .title_block:after {
  background-color: #ca3031;
}

.feature-box .fbox-body .fa {
  color: #ca3031;
}

.top_nav_ct .popup-over .popup-title:hover {
  color: #ca3031;
}

.popup-over .popup-content a:hover {
  color: #ca3031 !important;
}

#topbar p a:hover {
  color: #ca3031;
}
#topbar a:hover {
  color: #ca3031;
}
#topbar .header_user_info .popup-title a:hover {
  color: #ca3031;
}
#topbar .header_user_info .header_info a:hover {
  color: #ca3031;
}
#topbar .popup-title:hover {
  color: #ca3031;
}

#header .cart_block {
  border-color: #ca3031;
}
#header .cart_block a:hover {
  color: #ca3031;
}

#cart .title-cart:hover {
  color: #ca3031;
}
#cart .cart-quantity {
  background-color: #ca3031;
}

.popup-over .popup-content {
  border-color: #ca3031;
}

.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a {
  color: #ca3031;
}
.leo-megamenu .dropdown-menu {
  border-color: #ca3031;
}
.leo-megamenu .dropdown-menu li a:hover {
  color: #ca3031;
}
.leo-megamenu .dropdown-menu li a:hover > .menu-title {
  color: #ca3031;
}

form#searchbox .btn:hover {
  color: #ca3031;
}

.iview-directionNav a:hover.iview-prevNav {
  border-left: 24px solid #ca3031;
  color: white;
}

.iview-directionNav a:hover.iview-nextNav {
  border-right: 24px solid #ca3031;
  color: white;
}

.bannercontainer .tp-caption.btn:hover {
  background-color: #ca3031;
  border-color: #ca3031;
}

.bannercontainer .tp-caption.btn.btn-links:hover {
  background-color: #ca3031;
  border-color: #ca3031;
}

.breadcrumb {
  color: #ca3031;
}
.breadcrumb a:hover {
  color: #ca3031;
}

.feature-box:hover .fbox-icon {
  color: #ca3031;
  border-color: #ca3031;
}
.feature-box:hover .fbox-icon:before {
  -webkit-box-shadow: 3px 3px #ca3031;
  box-shadow: 3px 3px #ca3031;
}

.pagination .btn:hover {
  background-color: #ca3031;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #ca3031;
}

.pagination > li.pagination_next a:hover, .pagination > li.pagination_previous a:hover {
  background-color: #ca3031;
}

.carousel-control:hover {
  color: #ca3031;
}

.owl-theme .owl-controls .owl-buttons div:hover:before {
  color: #ca3031;
}

.product-block .name a:hover {
  color: #ca3031;
}
.product-block .functional-buttons a:hover {
  border-color: #ca3031;
  background-color: #ca3031;
}
.product-block .quick-view:hover {
  background-color: #ca3031;
}

.hook-center-content div.button .btn:hover {
  background-color: #ca3031;
  border-color: #ca3031;
}

.latest-blogs .blog-container .blog-title a:hover {
  color: #ca3031;
}

.testimonials a:hover {
  color: white;
}

#categories_block_left li a:hover {
  color: #ca3031;
}

#categories_block_left li ul li a:hover {
  color: #ca3031;
}

.blog-menu ul li a:hover, .blog-menu ul li a.selected {
  color: #ca3031;
}

.box-cart-bottom .btn.add_to_compare:hover,
.box-cart-bottom .btn.add_to_wishlist:hover {
  color: #ca3031;
}

.nav-tabs.page-product-heading > li > a:hover {
  border-color: #ca3031;
  color: #ca3031;
}

.nav-tabs.page-product-heading > li.active > a,
.nav-tabs.page-product-heading > li.active > a:hover,
.nav-tabs.page-product-heading > li.active > a:focus {
  border-color: #ca3031;
  color: #ca3031;
}

#quantity_wanted_p .btn:hover {
  background-color: #ca3031;
  border-color: #ca3031;
}

#footer a:hover {
  color: #ca3031;
}

#back-top a {
  background: #ca3031;
}

.hook_home_top .ApImage {
  -webkit-box-shadow: 15px 15px 0px #ca3031;
  box-shadow: 15px 15px 0px #ca3031;
}

.font-icon .ApColumn h2 i, .box-icon i {
  color: #ca3031;
}

.close-map:hover {
  background-color: #ca3031;
}
